@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

body, html {
    border: 0;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    background-color: #2A2F36;
    /*background-color: #2F3F3C;*/
    color: white;
}

h1 {
    letter-spacing: 0.4rem;
}

.name {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tagline{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.85rem;
    text-align: center;
}

#maincon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.hidden {
    display: none !important;
}

.divcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*height: 0;*/
    /*max-height: 0;*/
}

.divcon:hover{
    transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
    max-height: 50rem;
}

.nav {
    display: flex;
    margin-top: 10rem;
    margin-bottom: 0;
    /*justify-content: space-between;*/
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.85rem;
    padding: 0 1.25rem 0 1.25rem;
    line-height: 2.5rem;
    display: block;
    min-width: 4.5rem;
}

.nav > li:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

.nav > li {
    list-style-type: none;
    border-right: solid 1px white;
    min-width: 6rem;
    text-align: center;
}

.nav > li:last-child {
    border-right: none
}

.divcon {
    animation: zoomIn 5s;
    margin-top: 10rem;
}

@keyframes zoomIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
